
<server>
    <featureManager>
        <feature>servlet-6.0</feature>
        <feature>pages-3.1</feature>
        <feature>restfulWSClient-3.1</feature>
        <feature>cdi-4.0</feature>
        <feature>jsonb-3.0</feature>
        <feature>mpConfig-3.1</feature>
    </featureManager>

    <httpEndpoint httpPort="8080" httpsPort="-1" host="*">
        <compression serverPreferredAlgorithm="gzip">
            <types>+application/html</types>
            <types>+text/html</types>
        </compression>
    </httpEndpoint>
    
    <httpDispatcher enableWelcomePage="false" appOrContextRootMissingMessage="The AI Overloards believe you made a mistake!"/>

    <!-- will load the apikey from the secrets -->
    <variable name="category" value="famous-quotes"/>
    <variable name="apiKey" value="${apikey}"/>
    <variable name="leagueId" value="135"/>
    <variable name="latitude" value="41.8919"/>
    <variable name="longitude" value="12.5113"/>

    <webApplication location="portal-1.0.war" contextRoot="/" autoStart="true" name="PortalePaskino"/>

    <!-- must mount the secret 
      --mount-secret /config/variables=apikey
    -->

</server>
